{% extends 'layout/nav.html' %}

{% load static %}

{% block content %}


<section class="bg-no-repeat bg-center bg-cover bg-[#fff6fa] h-[350px] lg:h-[513px] flex flex-wrap items-center relative before:absolute before:inset-0 before:content-[''] before:bg-[#000000] before:opacity-[40%]" style="background-image: url('{% static '/img/BG8_4816.jpg' %}');">
    <div class="container mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="max-w-[480px]  mx-auto text-center text-white relative z-[1]">
                    <div class="mb-5"><span class="text-base block"></span></div>
                    <h1 class="font-lora text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-3xl font-medium">
                        Community Engagement
                    </h1>

                    <p class="text-base mt-5">
                        <p> At Abby Cares Foundation, our community engagement initiatives are the heart of our mission.
                            We believe in making an impact in the lives of those we serve through meaningful interactions.
                        </p>
                        
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>



<section class="bg-[#fff6fa]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6">
        <div class="mb-[-30px]">
            <div class="mb-[30px]">
                <h3 class="font-lora font-medium text-[24px] text-primary mb-[10px]">Medical Outreach Programs<span class="text-secondary">.</span></h3>
                <p>
                    Our medical outreach programs bring essential healthcare services directly to underserved communities. These events, 
                    held regularly, offer free medical checkups, consultations, and treatments. 
                    Residents benefit from services such as hepatitis and HIV screenings, blood sugar and blood pressure tests, and antenatal care. 
                    These outreaches not only address immediate health concerns but also educate the community on preventive healthcare practices.
                </p>
            </div>
            <div class="mb-[30px]">
                <h3 class="font-lora font-medium text-[24px] text-primary mb-[10px]">Surgical Interventions<span class="text-secondary">.</span></h3>
                <p>
                    Our commitment to comprehensive healthcare extends to providing surgical interventions for conditions such as hernias, 
                    hydroceles and other conditions. These surgeries are often subsidized or provided free of charge to ensure that financial 
                    constraints do not prevent individuals from receiving necessary care.
                </p>
            </div>
            
            <div class="mb-[30px]">
                <h3 class="font-lora font-medium text-[24px] text-primary mb-[10px]">Referrals and Follow-up Care<span class="text-secondary">.</span></h3>
                <p>
                    In cases where our healthcare center is unable to handle a particular medical issue, we facilitate referrals to general hospitals or tertiary health facilities.
                    Additionally, we provide follow-up care and support to ensure that individuals receive continuity of care throughout their treatment journey
                </p>
            </div>
            <div class="mb-[30px]">
                <h3 class="font-lora font-medium text-[24px] text-primary mb-[10px]">Health Workshops<span class="text-secondary">.</span></h3>
                <p>
                    We organize health workshops to educate and empower community members. These events focus on various health topics,
                    providing valuable information and resources. From maternal and child health workshops to chronic disease management 
                    sessions, we aim to equip individuals with the knowledge they need to lead healthier lives.
                </p>
            </div>
            <div class="mb-[30px]">
                <h3 class="font-lora font-medium text-[24px] text-primary mb-[10px]">Community Partnerships<span class="text-secondary">.</span></h3>
                <p>
                    Collaboration is key to our success. We partner with local organizations, leaders, and businesses to 
                    extend our reach and provide comprehensive healthcare services. Whether it's a local business 
                    sponsoring an outreach event or a community leader mobilizing residents, these partnerships are vital to our mission.
                </p>
            </div>
            <div class="mb-[30px]">
                <h3 class="font-lora font-medium text-[24px] text-primary mb-[10px]">Interactive Community Events<span class="text-secondary">.</span></h3>
                <p>
                    Our engagement doesn't stop at healthcare services. We host interactive events that bring the community together,
                    fostering a sense of unity and support. From health awareness days to family health festivals,
                    these events encourage community participation and strengthen our collective commitment to well-being.
                </p><br>
                <p>
                    Join us in making a difference. Whether through volunteering, sponsoring an outreach,
                    or partnering with us, your involvement can help transform lives. Together, we can build healthier, stronger communities.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}