{% extends 'layout/nav.html' %}

{% load static %}

{% block content %}

    <div class="relative mt-20">

        <!-- Hero section start -->

        <section class="bg-[#FFF6F0] relative before:absolute before:inset-0 before:content-[''] before:bg-[#060606] before:opacity-[10%]">
            <div class="lg:h-[720px] xl:h-[830px]">
                <img class="w-full h-full min-h-[360px] md:min-h-[540px] object-cover" src="{{ hero_image.image.url }}" alt="hero image">
                <div class="absolute right-0 left-0 lg:top-[110px] xl:top-[155px] top-[50%] -translate-y-1/2 lg:translate-y-0">
                    <div class="container mx-auto">
                        <div class="grid grid-cols-12">
                            <div class="col-span-12">
                                <div class="lg:max-w-[500px] xl:max-w-[600px] text-center ml-auto mr-auto lg:mb-[75px]">
                                    <span class="text-base text-white block mb-5 xl:font-semibold">Abby Cares Foundation</span>
                                    <h1 class="font-lora text-white text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-5xl xl:font-bold title">
                                        Empowering our Youth, Building stronger Families and Communities</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="explore-cities-section pt-[80px] pb-[120px] lg:py-[120px]">
            <div class="container mx-auto">
                <div class="">
                    <div class="">
                        <div class="mb-[30px] lg:mb-[60px] text-center">
                            <span class="text-secondary text-tiny inline-block mb-2">News and Updates</span>
                            <h2 class="font-lora text-primary text-[24px] sm:text-[30px] xl:text-xl capitalize font-medium">See what we have done with what we have<span class="text-secondary">.</span></h2>
                        </div>
                        <div class="cities-slider">
                            <div class="swiper -mx-[30px] -my-[60px] px-[30px] py-[60px]">
                                <div class="swiper-wrapper">
                                    <!-- swiper-slide start -->
                                    {% for news in news_and_update %}
                                    <div class="swiper-slide text-center">
                                        <div class="relative group">
                                            <a href="agency.html" class="block">
                                                <img src="{{ news.image.url }}" class="w-full h-full block mx-auto rounded-[6px_6px_0px_0px]" loading="lazy" width="270" height="290">
                                                <div class="cities-shadow bg-[#FFFDFC] rounded-[0px_0px_6px_6px] px-[15px] py-[20px]">
                                                    <span class="font-lora font-normal text-[24px] xl:text-lg text-primary group-hover:text-secondary transition-all">{{ news.Headline }}</span>
                                                    <p class="font-light text-tiny capitalize text-secondary group-hover:text-primary transition-all">{{ news.snip }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <!-- swiper-slide end-->
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-6 px-4 sm:p-6 md:py-10 md:px-8 border border-t-2 bg-[#1E1E1E]">
            <div class="max-w-4xl mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
              <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
                <h1 class="mt-1 text-lg font-semibold text-white sm:text-slate-900 md:text-2xl dark:sm:text-white">{{ major_outreach.title }}</h1>
                <p class="text-sm leading-4 font-medium text-white sm:text-slate-500 dark:sm:text-slate-400">Abby cares Foundation</p>
              </div>
              <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
                <img src="{{ major_outreach.right_image.url }}" alt="" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">
                <img src="{{ major_outreach.top_image.url }}" alt="" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
                <img src="{{ major_outreach.left_image.url }}" alt="" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
              </div>

              <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
                <button type="button" class="bg-[#FE3D8E] text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg">Donate</button>
              </div>
              <p class="mt-4 text-sm leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-slate-400">
                {{ major_outreach.description }}
              </p>
            </div>
        </section>


        <section class="featured-properties py-[80px] lg:py-[120px]">
            <div class="container mx-auto">
                <div class="grid grid-cols-12">

                    <div class="col-span-12">
                        <div id="all-properties" class="properties-tab-content active">
                            <div class="mb-[30px] lg:mb-[60px] text-center">
                                <span class="text-secondary text-tiny inline-block mb-2">Blog</span>
                                <h2 class="font-lora text-primary text-[24px] sm:text-[30px] xl:text-xl capitalize font-medium">Read our awe inspiring stories<span class="text-secondary">.</span></h2>
                            </div>
                            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-[30px] lg:mx-40">
                                
                                {% for blog in last_three_blogs %}

                                <div class="overflow-hidden rounded-md drop-shadow-[0px_2px_15px_rgba(0,0,0,0.1)] bg-[#FFFDFC] text-center transition-all duration-300 hover:-translate-y-[10px]">
                                    <div class="relative">
                                        <a href="{% url 'main:blog_details' id=blog.id %}" class="block">
                                            <img src="{{ blog.image.url }}" class="w-full h-full" loading="lazy" width="370" height="266" alt="">
                                        </a>
                                    </div>

                                    <div class="py-[20px] px-[20px]">
                                        <h3><a href="{% url 'main:blog_details' id=blog.id %}" class="font-lora leading-tight text-[22px] xl:text-[26px] text-primary font-medium">{{ blog.title}}</a></h3>
                                        <h4><a href="{% url 'main:blog_details' id=blog.id %}" class="font-light text-tiny text-secondary underline">{{ blog.snip | safe }}</a></h4>
                                        <h4><a href="{% url 'main:blog_details' id=blog.id %}" class="font-light text-tiny text-secondary underline">by: {{ blog.writers_name }}</a></h4>
                                        <span class="font-light text-sm">{{ blog.created_at }}</span>
                                    </div>
                                </div>
                                    
                                {% endfor %}
                                    
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="relative isolate overflow-hidden bg-[#1E1E1E] py-24 sm:py-32">
                {% comment %} <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center"> {% endcomment %}
                <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Work with us</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
                </div>
                <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
                    <a href="#">Open roles <span aria-hidden="true">&rarr;</span></a>
                    <a href="#">Internship program <span aria-hidden="true">&rarr;</span></a>
                    <a href="#">Our values <span aria-hidden="true">&rarr;</span></a>
                    <a href="#">Meet our leadership <span aria-hidden="true">&rarr;</span></a>
                    </div>
                    <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-gray-300">Offices worldwide</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">12</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-gray-300">Full-time colleagues</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">300+</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-gray-300">Hours per week</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">40</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-gray-300">Paid time off</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">Unlimited</dd>
                    </div>
                    </dl>
                </div>
                </div>
            </div>
        </section>

        
        <section class="py-6 px-4 sm:p-6 md:py-10 md:px-8 border border-t-2 bg-[#FE3D8E]">
            <div class="max-w-4xl mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
              <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
                <h1 class="mt-1 text-lg font-semibold text-white sm:text-slate-900 md:text-2xl dark:sm:text-white">Major outreach in Ezza South</h1>
                <p class="text-sm leading-4 font-medium text-white sm:text-slate-500 dark:sm:text-slate-400">Abby cares Foundation</p>
              </div>
              <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
                <img src="{% static 'img/BG8_6027.jpg' %}" alt="" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">
                <img src="{% static 'img/BG8_6081.jpg' %}" alt="" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
                <img src="{% static 'img/BG8_5807.jpg' %}" alt="" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
              </div>

              <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
                <button type="button" class="bg-[#1E1E1E] text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg">Donate</button>
              </div>
              <p class="mt-4 text-sm leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-white">
                The Obama Presidential Center will feature a world-class museum and public gathering space on the South Side of Chicago
              </p>
            </div>
        </section>
          


    </div>

{% endblock %}

{% comment %} text-[#FE3D8E] {% endcomment %}